h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;
    margin-top: 50px;
    font-weight: 500;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 300;
}

.platformInput {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}